![Hand with calculator](calculator.jpg)

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# The output

Your query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [20]:
SELECT industry , COUNT(*)
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
WHERE DATE_PART('year',date_joined)  BETWEEN 2019 AND 2021
GROUP BY industry
ORDER BY COUNT DESC
LIMIT 3

                          industry  count
0                          Fintech    173
1     Internet software & services    152
2  E-commerce & direct-to-consumer     75

In [21]:
SELECT industry, DATE_PART('year',date_joined) years ,COUNT(*) unicorns ,AVG(valuation) average_valuation
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
WHERE DATE_PART('year',date_joined) BETWEEN 2019 AND 2021
GROUP BY 1,2

                               industry  years  unicorns  average_valuation
0               Artificial intelligence   2019        14       4.500000e+09
1               Artificial intelligence   2020         3       4.000000e+09
2               Artificial intelligence   2021        36       1.416667e+09
3                 Auto & transportation   2019         6       4.166667e+09
4                 Auto & transportation   2020         5       3.000000e+09
5                 Auto & transportation   2021         4       3.750000e+09
6                     Consumer & retail   2019         3       3.666667e+09
7                     Consumer & retail   2020         1       1.500000e+10
8                     Consumer & retail   2021         7       2.571429e+09
9                         Cybersecurity   2019         4       2.250000e+09
10                        Cybersecurity   2020         7       3.285714e+09
11                        Cybersecurity   2021        27       2.518519e+09
12          Data management & analytics   2019         4       1.150000e+10
13          Data management & analytics   2020         6       3.000000e+09
14          Data management & analytics   2021        21       2.142857e+09
15      E-commerce & direct-to-consumer   2019        12       2.583333e+09
16      E-commerce & direct-to-consumer   2020        16       4.000000e+09
17      E-commerce & direct-to-consumer   2021        47       2.468085e+09
18                               Edtech   2019         1       1.000000e+09
19                               Edtech   2020         4       2.750000e+09
20                               Edtech   2021        12       2.000000e+09
21                              Fintech   2019        20       6.800000e+09
22                              Fintech   2020        15       4.333333e+09
23                              Fintech   2021       138       2.753623e+09
24                             Hardware   2020         1       2.000000e+09
25                             Hardware   2021        14       2.000000e+09
26                               Health   2019         3       3.333333e+09
27                               Health   2020         9       3.111111e+09
28                               Health   2021        40       1.950000e+09
29         Internet software & services   2019        13       4.230769e+09
30         Internet software & services   2020        20       4.350000e+09
31         Internet software & services   2021       119       2.151261e+09
32          Mobile & telecommunications   2019         4       2.000000e+09
33          Mobile & telecommunications   2020         8       3.125000e+09
34          Mobile & telecommunications   2021         6       1.833333e+09
35                                Other   2019         9       2.888889e+09
36                                Other   2020        11       3.000000e+09
37                                Other   2021        21       1.714286e+09
38  Supply chain, logistics, & delivery   2019         8       3.000000e+09
39  Supply chain, logistics, & delivery   2020         2       2.000000e+09
40  Supply chain, logistics, & delivery   2021        25       2.200000e+09
41                               Travel   2019         3       4.000000e+09
42                               Travel   2021         3       2.666667e+09

In [22]:
WITH industry_unicorns AS
(
SELECT industry, DATE_PART('year',date_joined) years ,COUNT(*) unicorns ,AVG(valuation) average_valuation
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
GROUP BY 1,2

)

SELECT industry,years AS year,unicorns AS num_unicorns ,ROUND(AVG(average_valuation/1000000000)::NUMERIC,2) average_valuation_billions
FROM industry_unicorns
WHERE years BETWEEN 2019 AND 2021 AND 
industry IN ( SELECT industry
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
WHERE DATE_PART('year',date_joined)  BETWEEN 2019 AND 2021
GROUP BY  industry
ORDER BY COUNT(*) DESC
LIMIT 3)
GROUP BY 1,2,3
ORDER BY year DESC , num_unicorns DESC
LIMIT 9

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7     Internet software & services  ...                        4.23
8  E-commerce & direct-to-consumer  ...                        2.58

[9 rows x 4 columns]

Another solution : Inner Joining the two tables together 1) table of the top 3 inustries  2)table of the whole data

In [23]:
WITH top_3_comp AS 
(SELECT industry , COUNT(*)
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
WHERE DATE_PART('year',date_joined)  BETWEEN 2019 AND 2021
GROUP BY industry
ORDER BY COUNT DESC
LIMIT 3)


SELECT top_3_comp.industry, DATE_PART('year',date_joined) AS year ,COUNT(*) num_unicorns ,ROUND(AVG(valuation)/1000000000::NUMERIC,2) average_valuation_billions
FROM industries 
JOIN dates
ON industries.company_id = dates.company_id
JOIN funding
ON funding.company_id = industries.company_id
JOIN top_3_comp
ON top_3_comp.industry = industries.industry
WHERE  DATE_PART('year',date_joined) BETWEEN 2019 AND 2021
GROUP BY 1,2
ORDER BY year DESC ,num_unicorns DESC

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7     Internet software & services  ...                        4.23
8  E-commerce & direct-to-consumer  ...                        2.58

[9 rows x 4 columns]